@import url('/css/colors.css');

html,
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 500px;
}

header,
footer {
    text-align: center;
    font-weight: bold;
}

header {
    padding: 8px 0;
}

footer {
    padding: 5px 0;
}

footer .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    transition: background-color 0.2s ease;
    height: 48px;
}

td {
    padding: 10px;
}

a,
a:visited {
    text-decoration: none;
}

.col1,
.col2,
.col3 {
    padding-left: 10px;
    padding-right: 10px;
}

.left-icons * img,
.right-icons * img {
    width: 20px;
    height: 20px;
    margin: 0 4px;
}

.help-icon {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    position: relative;
    text-align: center;
    user-select: none;
    width: 16px;
    margin: 0 4px;
}

.help-icon::after {
    border-radius: 4px;
    bottom: 150%;
    content: attr(aria-label);
    font-size: 12px;
    left: 50%;
    opacity: 0;
    padding: 6px 8px;
    position: absolute;
    transform: translateX(-50%);
    transition:
        opacity 0.2s,
        visibility 0.2s;
    visibility: hidden;
    white-space: pre-wrap;
    width: 150px;
}

.help-icon:hover::after {
    opacity: 1;
    visibility: visible;
}

.icon-button {
    --size: 32px;
    display: inline-flex;
    width: var(--size);
    height: var(--size);
    padding: 0;
    margin: 0 4px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

.icon-button svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}
