@import url("/css/colors.css");

html, body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 500px;
}

header, footer {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

footer {
    margin-top: auto;
}

footer .logo-container {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    transition: background-color 0.2s ease;
    height: 60px;
}

td {
    padding: 10px;
}

a, a:visited {
    text-decoration: none;
}

.col1, .col2, .col3 {
    padding-left: 10px;
    padding-right: 10px;
}

.left-icons * img, .right-icons * img {
    width: 20px;
    height: 20px;
}

.help-icon {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    position: relative;
    text-align: center;
    user-select: none;
    width: 16px;
}

.help-icon::after {
    border-radius: 4px;
    bottom: 150%;
    content: attr(aria-label);
    font-size: 12px;
    left: 50%;
    opacity: 0;
    padding: 6px 8px;
    position: absolute;
    transform: translateX(-50%);
    transition: opacity 0.2s, visibility 0.2s;
    visibility: hidden;
    white-space: pre-wrap;
    width: 150px;
}

.help-icon:hover::after {
    opacity: 1;
    visibility: visible;
}
