@import url("/css/base.css");

html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@supports(-webkit-tap-highlight-color: black) {
    html, body {
        width: 700px;
    }
}

select, textarea {
    resize: vertical;
    text-wrap: nowrap;
    width: 200px;
}

td.setting_key_area {
    text-align: left;
}

td.setting_value_area {
    text-align: right;
}

.color_scheme_button, .extended_feed_scan_button {
    border: none;
    font-weight: bold;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-size: 14px;
}

